# Root Environment Variables Template

# BACKEND
BACKEND_PORT=3000
NODE_ENV=development

# POSTGRESQL (Relational DB) 
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=lapis_ai_db
POSTGRES_PORT=5432

# TIMESCALEDB (Time-Series extension)
TIMESCALE_PORT=5433

# REDIS (Cache & Message Broker)
REDIS_PORT=6379
REDIS_PASSWORD=

# ML ENGINE (Python FastAPI)
ML_ENGINE_URL=http://localhost:8000
ML_ENGINE_PORT=8000

# NLP ENGINE (Python FastAPI)
NLP_ENGINE_URL=http://localhost:8001
NLP_ENGINE_PORT=8001

# JWT AUTH
JWT_SECRET=
JWT_EXPIRES_IN=7d